.game-screen a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background-color: black;
    background-image: url('nebula.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-font);
    font-family: "Gill Sans", sans-serif;
    font-size: 14pt;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

caption {
    background-color: var(--bg-frame);
    font-size: var(--font-big);
}

html {
    height: 100%;
}

img {
    width: 100%;
    object-fit: cover;
}

tr {
    background-color: var(--color-td-bg);
    color: black;
}

td,th {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10px;
    width: calc(100% - 20px);

}

tr:nth-child(2n) {
    background: rgba(32, 32, 32, 0.9);
    color: var(--color-td-highlight-text);
}

div.game-screen .card, caption {
    font-family: "Gill Sans", sans-serif;
    font-size: var(--font-big);
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    margin: 0px;
    position: fixed;
    left: 0px;
    width: 100%;
}

.card {
    background-color: var(--bg-frame);
    border: 2px solid var(--color-border);
    color: inherit;
    height: 300px;
    margin: 20px;
    text-align: center;
    width: 200px;
}

.card img {
    height: 240px;
    margin: 10px;
    object-fit: cover;
    overflow: hidden;
    width: 180px;
}

.description {
    background-color: var(--bg-frame);
    border: 2px solid var(--color-border);
    max-width: 90%;
    overflow-y: scroll;
    padding: 10px;
    width: 1000px;
}

.description .double-list {
    border: 2px solid var(--color-border);
}

.double-list {
    font-size: var(--font-small);
    font-family: "Gill Sans", sans-serif;
    margin: 20px;
    max-width: 90%;
    overflow-y: scroll;
    width: 400px;
}

.err-message {
    color: red;
}

.game-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    position: relative;
    top: 50px;
}

.info-box {
    border: 2px; 
    background-color: black;
}

.pop-up {
    display: none;
    font-family: "Gill Sans", sans-serif;
    justify-content: space-between;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
}

.pop-up > a {
    background-color: rgba(0, 0, 0, 0.65);
    color: inherit;
    text-decoration: inherit;
    max-width: calc(50% - 500px);
    min-width: 15%;
}

:root {
    --bg-frame: #202020;
    --color-border: #774f09;
    --color-font: #a0a0a0;
    --color-td-bg: #606060;
    --color-td-text: black;
    --color-td-highlight-bg: black;
    --color-td-highlight-text: white;
    --testing-color: grey;
    --font-small: 14pt;
    --font-big: 20pt;
}
