body {
    background-image: url('nebula.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #404040;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

caption {
    background-color: var(--frame);
}

form {
    /*border: 2px solid grey;*/
    padding: 10px;
    width: 300px;
}

input {
    background-color: var(--frame);
    border-color: var(--frame);
    height: 50px;
    margin-bottom: 40px;
    width: 100%;
}

.score-table {
    border: 2px solid var(--frame);
    table-layout: fixed;

}

td {
    opacity: 1;
}

th {
    text-align: left;
}

tr {
    background-color: var(--date-medium);
}

tr.space-under>td {
  padding-bottom: 1em;
}

tr:nth-child(even) {
    background-color: var(--data-light);
}

/*tr:nth-child(odd) {
    background-color: #6ddbdb;
}
*/
.bigger {
    font-size: 20pt
    font-variant: petite-caps;
    padding: 0 20px;
}

.navigation {
    font-size: 20pt;
    text-align: center;
    background-color: yellow;
    width: 400px;
}

.score-table {
    font-size: 14pt;
    width: 400px;
}

.start-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 50px;
}

:root {
    --data-light: #f9d959;
    --date-medium: #fcbc25;
    --frame: #6ddb7a;
}
